{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
  ],
  "plugins": ["react", "jsx-a11y", "react-hooks", "import", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "rules": {
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "warn",
    "no-unused-vars": "warn",
    "no-console": "warn",
    "no-debugger": "error",
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true },
      },
    ],
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
}
